*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--dark);
    height: 100vh;
    width: 100vW;
    color: var(--ligth);
}
:root{
    --principal-dark: #754080;
    --principal: #B259B2; 
    --principal-light:#E573D2;
    --ligth: #E5DCE5;
    --dark: #1A141A;
}