@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: #D9D9D9;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
    font-family: 'Cinzel', serif;
    line-height: 120%;
}
p{
    line-height: 150%;
}
body{
    background: url(./img-border-radius.png) no-repeat center;
    background-size: cover;
}
main{
    background: rgba(19, 8, 8, 0.8);
    backdrop-filter: blur(5px);
    padding: 10rem 0rem;
    width: 100%;
}
#width{
    margin: 0 auto;
    max-width: 63rem;
    width: 100%;
}
#width > p{
    margin-top: 1rem;
}
#contain-text{
    margin-top: 1rem;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: #CC1B1B;
}
#contain-border{
    display: flex;
    gap:2rem;
    margin-top: 4rem;
}
#box{
    width: 100%;
    padding-top: 100%;
    background: #0B0606;
    border: 1px solid #CC1B1B;
    border-radius: 40%;
}
#controlar-box{
    width: calc(100%/2 - 1rem);
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/2 - 1rem);
}
svg{
    padding: 0 10px;
    box-sizing: content-box;
}
.ajuste{
    display: flex;
    gap: 2rem;
    align-items: center;
}
[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: #CC1B1B;
}

[type="range"]{
    -webkit-appearance: none;
    all:unset;
    height: 1px;
    width: 100%;
    background-color: #CC1B1B;
    border-radius: 1rem;
}
.slider::-webkit-slider-thumb{
    background: #130808;
    border: 2px solid #CC1B1B;
}
.slider{
    display: none;
}
#contain-check{
    display: flex;
}

.container {
    display: block;
    position: relative;
    padding-left: 5rem;
    padding-top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 13px;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: .5rem;
    border: 2px solid #fff;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ffffff3f;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#text-area{
    display: flex;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 1rem;
    height: 5rem;
    padding: 1rem;
    box-sizing: content-box;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: relative;
}
#text-area button{
    position: absolute;
    padding: 0;
    cursor: pointer;
    right:1rem;
    top:1rem;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color:rgba(217, 217, 217, 0.6);
    border-radius: 4px;
    background: rgb(11, 6, 6);
}
button svg{
    padding: 4px;
}

#text-area button:hover{
    background: rgba(11, 6, 6, 0.6);
}
#text-area button:active{
    border-width: 0px;
}
footer{
    text-align: center;
    background: #0B0606;
    padding: 1rem;
}
@media screen and (max-width:1010px) {
    #width{
        padding: 0 1rem 0 1rem;
    }
}
@media screen and (max-width:800px){
    #contain-border{
        flex-direction: column;
        align-items: center;
    }
    #controlar-box{
        max-width: 30rem;
        width: 100%;
    }
    #container{
        width: 100%;
        gap: 2rem;
    }
    main{
        padding: 5rem 0rem;
    }
}