@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Share+Tech&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gray-10);
    font-family: 'Roboto', sans-serif;
}

:root{
    --black: black;
    --white: white;
    --gray-100: #2C2121;
    --gray-90: #483838;
    --gray-70: #826464;
    --gray-60: #624B4B;
    --gray-10: #FBF4F4;
    --primary-red-70:#FA3434;
    --hover-red-60:#FA3434;
}
body{
    background: var(--gray-100);
}
main{
    padding: 5rem 0;
    margin: 0 1.5rem;
}
a{
    color: var(--primary-red-70 );
    font-weight: bolder;
}
.operadores p{
    color: var(--primary-red-70);
}
h1{
    font-family: 'Share Tech', sans-serif;
    font-size: 3rem;
    font-weight: normal;
}
#text{
    padding-bottom: 5rem;
}
#text h1{
    padding-bottom: 1.5rem;
}
#text p{
    padding-bottom: 1rem;
}
#conversao-github p{
    padding: 0;
}
#calculadora p{
    font-family: 'Share Tech', sans-serif;
}
span{
    font-size: 4rem;
    text-align: right;
}
span p {
    margin-bottom: 1rem;
}
#btns{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    text-align: center;
}
#btns div{
    padding: 1.25rem 0;
    cursor: pointer;
    border-radius: .25rem;
}
#btns div p{
    width: 100%;
}
#btns div:active{
    background: var(--gray-90 );
}
#igual{
    grid-column-end:5;
    grid-column-start:3;
    background: var(--primary-red-70);
}
footer{
    text-align: center;
    background: var(--gray-90);
    padding: 1rem;
}
@media screen and (min-width:1024px){
    main{
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
}
@media screen and (min-width:850px){
    #calculadora{
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
    }
}